In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv("Academic-Performance-Dataset.csv")
missing_values = data.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 Rollno         0
Name           2
Gender         0
Branch         0
Attendence     0
Phy_marks      1
Che_marks      3
EM1_marks      2
PPS_marks      1
SME_marks      0
Total Marks    0
Percentage     0
dtype: int64

In [14]:
# delete 

# data_cleaned = data.dropna()
# data_cleaned  = data.dropna(axis =1)

# replace with mean median mode
mean_val = data["Che_marks"].mean()
mod_val = data["Che_marks"].mode()
# median_val = data["Che_marks"].median()
mean_val= round(float(mean_val), 2)
print(mod_val)
data["Che_marks"] = data["Che_marks"].fillna(mean_val)
# data

0    80.76
Name: Che_marks, dtype: float64

In [19]:
# tranform in new scale use square root
data['totalmarks_transform'] = np.sqrt(data['Total Marks'])
data['totalmarks_transform'] = data['totalmarks_transform'].round(2)
data

,Rollno,Name,Gender,Branch,Attendence,Phy_marks,Che_marks,EM1_marks,PPS_marks,SME_marks,Total Marks,Percentage,Chem_marks updates,variable3_sqrt_transformed,totalmarks_transform
0,1,Mohammed,M,Comp,72,62.0,98.00,63.0,89.0,36,368,73.6,98.00,19.183326,19.18
1,2,Reyansh,M,IT,58,62.0,83.00,83.0,88.0,34,350,70.0,83.00,18.708287,18.71
2,3,Aarav,M,IT,57,-20.0,100.00,NaN,56.0,36,192,38.4,100.00,13.856406,13.86
3,4,Atharv,M,IT,60,89.0,83.00,70.0,33.0,23,298,59.6,83.00,17.262677,17.26
4,5,Vivaan,M,Comp,85,90.0,80.76,78.0,23.0,56,247,49.4,80.76,15.716234,15.72
5,6,Advik,M,ENTC,94,99.0,84.00,100.0,56.0,99,438,87.6,84.00,20.928450,20.93
6,7,Ansh,M,ENTC,98,88.0,95.00,81.0,78.0,78,420,84.0,95.00,20.493902,20.49
7,8,Ishaan,M,ENTC,75,66.0,51.00,83.0,-99.0,76,192,38.4,51.00,13.856406,13.86
8,9,Dhruv,M,ENTC,63,NaN,80.76,97.0,56.0,55,208,41.6,80.76,14.422205,14.42
9,10,Siddharth,M,ENTC,96,67.0,78.00,95.0,NaN,98,338,67.6,78.00,18.384776,18.38
10,11,Vihaan,M,ENTC,82,54.0,70.00,88.0,55.0,56,323,64.6,70.00,17.972201,17.97
11,12,NaN,M,IT,75,64.0,67.00,71.0,66.0,87,355,71.0,67.00,18.841444,18.84
12,13,Aarush,M,IT,67,56.0,81.00,NaN,90.0,55,282,56.4,81.00,16.792856,16.79
13,14,Leo,M,IT,98,-34.0,70.00,94.0,77.0,66,273,54.6,70.00,16.522712,16.52
14,15,Maryam,F,IT,64,87.0,60.00,90.0,65.0,90,392,78.4,60.00,19.798990,19.80
15,16,Saanvi,F,Comp,66,90.0,95.00,67.0,99.0,77,428,85.6,95.00,20.688161,20.69
16,17,Zaranew,F,Comp,93,54.0,80.76,75.0,90.0,65,284,56.8,80.76,16.852300,16.85
17,18,Inaya,F,Comp,74,67.0,93.00,93.0,87.0,99,439,87.8,93.00,20.952327,20.95
18,19,Aarya,F,Comp,72,88.0,84.00,81.0,80.0,45,378,75.6,84.00,19.442222,19.44
19,20,NaN,F,Comp,53,76.0,81.00,93.0,65.0,23,338,67.6,81.00,18.384776,18.38